/* 모든 환경 공통 */
body {
  max-width: 1280px;
  margin: 0 auto;
  background-image: url(backgroound.png);
}

img {
  max-width: 100%;
  height: auto;
  border: 5px solid lightgray;
}

/* 모바일에서만 추가 조정 */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }
}